.main-navbar{
    background-color: #0D1D3A;
    display: grid;
    grid-template-columns: 5rem 1fr 2.5fr 2rem;
    color: white;
    text-align: center;
    height: 8.5rem;
}
.logo{
    grid-column: 2/3;
}
.logo h3{
    font-weight: bolder;
}
.logo h3,p,.media-links-buttons{
    margin: 0%;
}
.media-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.media-links-buttons{
    justify-self: end;
}
.media-pages-links{
    margin: 0%;
}
.media-links span button{
    background-color: #d2aa56;
    background-image: linear-gradient(0deg, #d2aa56 19%, #ac8731 48%, #a6792a 95%);
    padding: 15px 30px;
    margin: 10px ;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-variant: normal;
}
.media-pages-links ul{
    display: flex;
    justify-content: space-around;
}
.media-pages-links ul li{
    margin: 5px 15px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}
.active{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
.active:hover{
    color: #D29537;
}