.base-footer{
    background-image: url('https://static.wixstatic.com/media/48010f_eb7d9084fe2349629cbd99f74b644333~mv2.jpg/v1/fill/w_1139,h_355,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/48010f_eb7d9084fe2349629cbd99f74b644333~mv2.jpg');
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: flex-end;
}
.base-footer span{
    margin: 6%;
}
.base-footer span h1{
    color: white;
    font-size: 2.75rem;
    margin: 0%;
    font-weight: bold;
}
.base-footer span button{
    background-color: #D49D3C;
    color: white;
    padding: 20px 75px;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    margin: 0%;
}